/* Breakpoints */

$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1170px !default;
$screen-xl: 1560px !default;

:root {
  --color-border-secondary: #eaecef;
}

@mixin phone {
  @media (max-width: $screen-xs) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $screen-md) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $screen-lg) {
    @content;
  }
}
